[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen
	branch = 3.3
[submodule "mnist"]
	path = mnist
	url = https://github.com/nilovlev/mnist
[submodule "EigenRand"]
	path = EigenRand
	url = https://github.com/bab2min/EigenRand
